<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}" href="../../static/styles.css"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles.css}" href="../../static/styles.css"/>
    <script th:src="@{/js/bootstrap.js}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Minecraft Logboek</title>
</head>
<body class="d-flex flex-column h-100">

    <header th:replace="fragments/blocks :: header">Header</header>
    <div class="panel">
    <h2 th:text="${food.get().name}">Food name</h2>
</div>

    <footer th:replace="fragments/blocks :: footer">Footer</footer>
</body>
</html>